<div class="container">
  <div class="preview">
    <div class="preview-card">
      <div class="display-card-front">
        <img src="../assets/card-logo.svg" alt="" style="margin: 30px" />
        <div class="card-number">0000 0000 0000 0000</div>
        <div class="preview-front-info">
          <div class="name">JANE APPLESEED</div>
          <div class="exp">00/00</div>
        </div>
      </div>
      <div class="display-card-back"><div class="cvc">123</div></div>
    </div>
  </div>
  <div class="input">
    <div class="input-card">
      <div>
        <label for="name" class="input-label">CARDHOLDER NAME</label
        ><input type="text" placeholder="e.g. Jane Appleseed" />
      </div>
      <div>
        <label for="number" class="input-label">CARD NUMBER</label
        ><input type="text" placeholder="e.g. 1234 5678 9123 0000" />
      </div>
      <div class="exp-cvc">
        <div class="exp">
          <label for="exp date" class="input-label">EXP. DATE (MM/YY)</label>
          <div class="mmyy">
            <div>
              <input type="text" placeholder="MM" />
            </div>
            <div><input type="text" placeholder="YY" /></div>
          </div>
        </div>
        <div class="cvc">
          <label for="cvc" class="input-label">CVC</label
          ><input type="text" placeholder="e.g. 123" />
        </div>
      </div>
      <button>Confirm</button>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div style="border: 1px solid red">
    <div style="border: 1px solid blue; height: 150px; width: 150px">hii</div>
    <div style="border: 1px solid green; height: 150px; width: 150px">
      hello
    </div>
  </div>
</div> -->
